.header {
  background-color: #6639b5;
  width: 100%;
  height: 60px;
}

.logo {
  font-size: 40px;
  cursor: default;
}

.custom-font {
  padding-left: 20px;
  padding-top: 20px;
  color: white;
  font-family: "Trebuchet MS", Verdana, sans-serif;
}

.menu {
  display: inline-block;
  padding-right: 20px;
}

.el-menu {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.active {
  color: red;
}
