.table {
  width: 100%;
}

tr.mat-row {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

tr.mat-row:hover {
  background: whitesmoke;
}

.button-container {
  margin-top: 20px;
  padding-bottom: 16px;
}

.button + .button {
  margin-left: 8px;
}

.header {
  padding: 5px;
}

.filter {
  display: block;
  width: 95%;
}
