<mat-card class="profile-card">
  <mat-card-content>
    <div class="button-container">
      <button mat-raised-button (click)="addBook()" class="button">
        Добавить книгу
      </button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          Название
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Поиск</mat-label>
            <input matInput [formControl]="nameFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <!-- author Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>
          Автор
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Поиск</mat-label>
            <input matInput [formControl]="authorFilter">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element">{{element.author}}</td>
      </ng-container>

      <!-- genre Column -->
      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef>
          Жанр
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Поиск</mat-label>
            <mat-select [formControl]="genreFilter">
              <mat-option>Очистить</mat-option>
              <mat-option *ngFor="let genre of genres" [value]="genre.id">
                {{genre.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element">{{element.genre.name}}</td>
      </ng-container>

      <!-- available Column -->
      <ng-container matColumnDef="available">
        <th mat-header-cell *matHeaderCellDef>
          Наличие
          <mat-form-field class="filter" floatLabel="never">
            <mat-label>Поиск</mat-label>
            <mat-select [formControl]="availableFilter">
              <mat-option>Очистить</mat-option>
              <mat-option *ngFor="let av of availableValues" [value]="av.available">
                {{av.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element">{{element.available == true ? "В наличии" : "У клиента"}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          (click)="onRow(row)"
          *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]"
                   showFirstLastButtons>
    </mat-paginator>
  </mat-card-content>
</mat-card>
