.table {
  width: 99%;
  margin-bottom: 15px;
}

.text-block {
  margin-bottom: 15px;
}

tr.mat-row {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}
.filter {
  display: block;
  width: 95%;
}
