<mat-card class="clients-card">
  <mat-card-content>
    <div class="container">
      <div class="clients">
        <div class="button-container">
          <button mat-raised-button (click)="addUser()" class="button">
            Добавить клиента
          </button>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Имя
              <mat-form-field class="filter" floatLabel="never">
                <mat-label>Поиск</mat-label>
                <input matInput [formControl]="nameFilter">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>
              Email
              <mat-form-field class="filter" floatLabel="never">
                <mat-label>Поиск</mat-label>
                <input matInput [formControl]="emailFilter">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
              (click)="onRow(row)"
              *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]"
                       showFirstLastButtons>
        </mat-paginator>
      </div>
      <div class="debtors">
        <div class="title-debtors">
          Должники
        </div>
        <table mat-table [dataSource]="dataSourceDebtors" class="mat-elevation-z8 table">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Имя
              <mat-form-field class="filter" floatLabel="never">
                <mat-label>Поиск</mat-label>
                <input matInput [formControl]="nameDebtorsFilter">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>
              Email
              <mat-form-field class="filter" floatLabel="never">
                <mat-label>Поиск</mat-label>
                <input matInput [formControl]="emailDebtorsFilter">
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element">{{element.email}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
              (click)="onRow(row)"
              *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginatorDebtors [pageSizeOptions]="[5, 10, 15]"
                       showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
    
  </mat-card-content>
</mat-card>
